h1 #{message}

form(name='input', action='login', method='post')
  label DauminID: 
    input(type='text', name='id')
  label Password: 
    input(type='password', name='password')
  input(type='submit', action='login')
